footer {
    background-color: #fdd90b;
    display: flex;
    justify-content: center;
   }

   a{
    text-decoration: none;
    color: #171215;
   }

.icon {
    width: 1em;
    height: 1em;
    margin: 10px;
}