/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
    font-family: Bubbleboddy-Neue;
    src: url("./assets/BubbleboddyNeue-Light\ Trial.ttf");
    font-weight: ligth;
}

@font-face {
    font-family: Bubbleboddy-Neue;
    src: url("./assets/bubbleboddyneue-regular\ trial.ttf");
    font-weight: regular;
}

@font-face {
    font-family: Bubbleboddy-Neue;
    src: url("./assets/BubbleboddyNeue-Bold\ Trial.ttf");
    font-weight: bold;
}

body{
    background-color: #f9d0a3;
    font-family: Comfortaa;
}

.title {
 text-transform: capitalize;
 font-family: Bubbleboddy-Neue;
}

