<app-header></app-header>
<main>
    <h1 class="title">Bienvenu {{title}}</h1>
    <section class="presentation">
        <h2 class="title">Présentation de l'entreprise</h2>
        <div>
            Au Petit Village est une boutique en ligne spécialisée dans la vente de figurines inspirées de l'univers emblématique d'Astérix et Obélix. Fondée en 2005 par Jean-Pierre et Marie Dupont, passionnés de longue date par les aventures des célèbres Gaulois, l'entreprise est devenue une référence pour les collectionneurs et les amateurs de bande dessinée. Grâce à une attention minutieuse aux détails et à l'obtention de licences officielles, chaque figurine est une œuvre d'art unique, sculptée et peinte à la main.
            Luc et Sophie, les enfants des fondateurs, ont rejoint l'aventure familiale, apportant leur expertise en gestion et en art, et diversifiant l'offre avec des dioramas et des scènes complètes. Au-delà de la vente, "Au Petit Village" est une communauté virtuelle dynamique où les fans peuvent participer à des ateliers en ligne, des expositions virtuelles et échanger leurs histoires et créations. En célébrant l'héritage d'Astérix et Obélix, l'entreprise continue d'inspirer et de captiver les esprits de toutes les générations.
        </div>
    </section>
    <section class="product">
        <h2 class="title">Nos produits</h2>
        <app-figure-card></app-figure-card>
    </section>
</main>
<app-footer></app-footer>